.button {
  background-color: var(--button-primary);
}

.modal-header {
  background-color: #4E3021;
}

.modal-body {
  background-color: #f0eadd;
}

p.header {
  font-size: 28px;
  line-height: 32px;
  font-weight: normal;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

hr {
  width: 100%;
}

p.footer {
  font-size: 1rem;
}

.p-modal {
  font-size: 1rem;
}

.p-terms {
  font-size: 0.7rem;
}