.button {
  background-color: var(--button-primary);
}

.modal-header {
  background-color: #4E3021;
}

.modal-body {
  background-color: #f0eadd;
}

p.header {
  font-size: 28px;
  line-height: 32px;
  font-weight: normal;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

hr {
  width: 100%;
}

p.footer {
  font-size: 1rem;
}

.p-modal {
  font-size: 1rem;
}

.p-terms {
  font-size: 0.7rem;
}

.kep-login-facebook {
  font-size: 1rem !important;
  padding: 8px !important;
  text-transform: none !important;
}

.google-button {
  font-size: 1rem !important;
  padding: 0 !important;
}

.login-col {
  padding-right: 0px;
  padding-left: 0px;
}

.login-row {
  margin-right: 0px;
  margin-left: 0px;
}