.aboutus-info {
    text-align: center;
    margin-top: 20px;
    color: #4e3021;
}

.aboutus-page-title {
    color: #4e3021;
}

.aboutus-page-content {
    margin: 16px 0;
}

.aboutus-info-image {
    margin: 16px 0;
    width: 100%;
}