.seachitembar {
    margin-right: 0;
    margin-left: auto;
}

.search-bar {
    flex-grow: 1;
}

.search-bar-input {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #f8f9fa;
    border-bottom: 1px solid;
    border-radius: 0;
    font-style: italic;
    width: 100% !important; 
    margin-right: 64px;
}